.sect {
  width: 100%;
  min-height: 500px;
  grid-area: menuse; }
  .sect .imagen_mobile {
    display: none; }
  .sect .home__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between; }
