/* contacto */

.contacto_img {display: inline;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  /*   z-index: -1; hace que se vea todo blanco*/
  }
  .contacto__form {
    position: relative;
    transform: translate(0px, 50px);
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 70%;
    padding-top: 5%; 
  /*   z-index: 2 ; */
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    grid-area: descvideo;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
  }
  
  .contacto__sect {
    width: 100%;
    min-height: 700px;
    grid-area: menuse;
   
  }


  .contacto__footer {
  background-color: black;
  width: 100%;
  color: white;
      list-style: none;
      display: inline-flex;
      flex-direction: row;
      background-color: #000;
      
    grid-area: footer;   
     justify-content: space-evenly;
     text-decoration-color: white;
     align-content: center;
   
      font-size: 1.5rem;
      font-family: 'Lato', sans-serif;    
      font-weight: 300;
      
  }
  
  
  .contacto__footer ul {
    list-style: none;
    color: white;
  text-decoration: none;
  }
  
  .contacto__footer ul li a {
    list-style: none;
    color: white;
  text-decoration: none;
  }
  
  
  /* CIERRE CONTACTO */