@import "index";
@import "contacto";
@import "novedades";
@import "menu";




/* reset margin y padding */
* {
    margin: 0;
    padding:0;
}
/* relación de tamaño */
  html {
    font-size: 62.5%;
    background-color: #000;
    }
    

