/* reset margin y padding */
* {
  margin: 0;
  padding:0;
    
  }
 html {
  font-size: 62.5%;
  background-color: #000;
  }
  #BGHome{
    
    color: rgba(0, 0, 0, 0);
  }
#Grilla{

 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr ;
 grid-template-rows: .2fr .3fr .3fr .5fr .2fr ;
 grid-template-areas: 
 "menuse menuse menuse menuse"
 "video video descvideo descvideo"
 "banner banner descripbanner descripbanner"
 "articulo descarticulo novedad descnovedad"
 "footer footer footer footer" 
 ;
grid-row-gap: 0px;
grid-column-gap: 0px;


}




.home__menu {
background-color: #000;
grid-area: menuse;
display: flex;
/* width: 1000px; */
/* height: 100px; */
margin:0;
padding: 0;
/* flex-wrap: wrap; */
justify-content: space-between;
align-items: center;
flex-direction: row;
/* width: 100%; */
} 

.home__menu--Items {
    font-size: 2rem;
    background-color: #000;
   /*  border: 3px solid #07f7eb; */
    font-family: 'Lato', sans-serif;    
    font-weight: 900;
    text-decoration: none;
    list-style:none;
      /* min-width: 100%; */
      justify-content: flex-end;
  }
  

.home__menu--logo {
  Position: static;
  color: white;
  width: 500px;
  height: 180px;
  background-color: #000;
  margin-top: 10px;
 
        
}
/* acá va lo cortado del menú */

.home__menu--Items ul {
  /*  list-style: none; */
   font-size: 0;
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
 /*   background-color: #333; */
   background-color: #000; 
 }
 .home__menu--Items ul li {
/* align-items: flex-start; */

}
 .home__menu--Items ul li ul:hover {
   display:block;
   background-color: #111;
 }
 .home__menu--Items li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
/* mousehover */
.home__menu--Items li a:hover {
  background-color: #111;
}

/* .home__menu--Items ul li ul li a:hover {
  background-color: #111;
} */
.Home__Video1--slider {
/*     position: static ; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; */
   /*  z-index: 1 ; */
    grid-area: video ;
    justify-content: center;
    width: 1000px;
    margin-top: 0;
  }

/* contenido del video */
.Home__descVideo1--slider {
    position: relative;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 1000px;
    padding: 0 px;
  /*   z-index: 2 ; */
    font-family: 'Lato', sans-serif;
    grid-area: descvideo ;
    justify-content: center;
    align-items: center;
  }
  
  /* Botón del video */
  .home__slider1__buttom {
    color: #fff;
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    justify-content: center;
    cursor: pointer;
  }

  .myBtn{
  background-color: black;
    color: white;
   
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  a:link, a:visited, a:active 
  {
    text-decoration:none;
    }

.home__banner {
    position: static; 
    right: 0;
    bottom: 0;
    width: 1000px;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: 'Lato', sans-serif;
    grid-area: banner;
    justify-content: center;
    }

    .home__banner--desc {
      position: static; 
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      align-items: center;
      font-family: 'Lato', sans-serif;
      grid-area: descripbanner;
      justify-content: center;
      }

.home__articulo
{
  position: static; 
  right: 0;
  bottom: 0;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  font-family: 'Lato', sans-serif;
  grid-area: articulo ;
  justify-content: center;

  }

  .home__articulo--desc
{
  position: relative; 
  right: 0;
  bottom: 0;
  align-items: center;
  font-family: 'Lato', sans-serif;
  grid-area: descarticulo ;
  justify-content: center;
  }


.home__novedad
{
  /* position: static;  */
  right: 0;
  bottom: 0;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  font-family: 'Lato', sans-serif;
  grid-area: novedad ;
  justify-content: center;
  }

  .home__novedad--desc
  {
    position: static; 
    right: 0;
    bottom: 0;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    font-family: 'Lato', sans-serif;
    grid-area: descnovedad ;
    justify-content: center;
    }

.home__footer {
    color: white;
    list-style: none;
    display: inline-flex;
    flex-direction: row;
    background-color: #000;
    
    grid-area: footer;   
   justify-content: space-evenly;
   text-decoration-color: white;
   align-content: center;
 
    font-size: 1.5rem;
      font-family: 'Lato', sans-serif;    
    font-weight: 300;
    
}

.home__footer ul {
  list-style: none;
  color: white;
text-decoration: none;
}

.home__footer ul li a {
  list-style: none;
  color: white;
text-decoration: none;
}


/* media screen TABLET - INDEX */
@media screen and (max-width: 768px) {
  #Grilla {
    grid-template-columns: .2fr .5fr;
    grid-template-rows: .2fr .3fr .2fr .3fr .3fr .1fr;
    grid-template-areas: 
    
    "menuse menuse"
    "video descvideo"
    "banner descripbanner "
    "articulo descarticulo" 
    "novedad descnovedad"
    "footer footer"
    
    ;
  }
  .home__menu {
    background-color: #000;
    grid-area: menuse;
    display: flex;
    /* width: 1000px; */
    /* height: 100px; */
    margin:0;
    padding: 0;
    flex-wrap: wrap;
   /*  justify-content: space-between;
    align-items: center;*/
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    } 
    
    .home__menu--Items {
        font-size: 2rem;
        background-color: #000;
       /*  border: 3px solid #07f7eb; */
        font-family: 'Lato', sans-serif;    
        font-weight: 900;
        text-decoration: none;
        list-style:none;
        align-items: initial;
          /* min-width: 100%; */
        
        }
      
    
    .home__menu--logo {
      Position: static;
      color: white;
      /* width: 500px;
      height: 180px; */
      background-color: #000;
     /*  margin-top: 10px; */
     
            
    }






}

/* media screen MOBILE - INDEX */
@media screen and (max-width: 500px) {
  #Grilla {
    grid-template-columns: 1fr;
    grid-template-rows: .2fr .3fr .1fr .2fr .1fr .3fr .1fr .3fr .1fr .1fr;
    grid-template-areas: 
    
    "menuse" 
    "video" 
    "descvideo"
    "banner" 
    "descripbanner"
    "articulo"
    "descarticulo" 
    "novedad" 
    "descnovedad"
    "footer"
        ;
  }








}